.pro_con tbody tr td:nth-child(even){
    background-color: rgba(255, 0, 0, 0.2);
    border-left: black dotted 2px;
}

.pro_con tbody tr td:nth-child(odd){
    background-color: rgba(0, 255, 0, 0.2);
}

.pro_con tbody tr td{
    border-bottom: rgb(0, 0, 0) dotted 2px;
}

.pro_con tbody tr:last-of-type td {
    border-bottom: none;
}

.pro_con{
    border-collapse: collapse;
}

.pro_con thead{
    border-bottom: black solid 2px;
}